@import "@styles/main";

.h5p-game-map-exercise {
  align-items: center;
  background: rgba(44,44,44,.8);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  grid-area: 1 / 1 / 1 / 1;

  &.display-none {
    display: none;
  }

  .h5p-game-map-exercise-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    box-sizing: border-box;
    max-width: 1080px;
    width: 100%;

    .h5p-game-map-exercise-button-close {
      grid-area: 1 / 1 / 1 / 1;
      background: #fff;
      border: none;
      border-radius: 50%;
      color: #222;
      cursor: pointer;
      height: 2.25em;
      justify-self: end;
      left: -1.25rem;
      line-height: 1;
      padding: 3px;
      position: relative;
      top: 1.25rem;
      transition: transform .1s ease-in-out;
      width: 2.25em;

      &:hover {
        transform: scale(1.25);
      }

      &::after {
        font-family: H5PFontAwesome4;
        content: "\F00D";
        border: 1px solid #222;
        text-align: center;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        line-height: 1.5;
      }
    }

    .h5p-game-map-exercise-content {
      grid-area: 1 / 1 / 1 / 1;
      background-color: #fff;
      border: 0.75rem solid #fff;
      border-radius: 0.5rem;
      box-sizing: border-box;
      margin-bottom: 2rem;
      margin-left: 2rem;
      margin-top: 2rem;
      max-width: calc(100% - 4rem);

      .h5p-game-map-exercise-headline {
        align-items: center;
        border-bottom: 1px solid $color-shadow-dark;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        height: 2rem;
        padding: 0 0.25rem;

        .h5p-game-map-exercise-headline-text {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }

      .h5p-game-map-exercise-instance-container {
        height: calc(100% - 1rem);
        width: calc(100% - 0.25rem);

        .h5p-game-map-exercise-instance {
          box-sizing: border-box;
          width: 100%;

          &.h5p-video {
            overflow: inherit;
            height: 100%;
          }

          &.h5p-interactive-video {
            overflow: inherit;
          }

          &.h5p-image-hotspot-question > .h5p-question-content {
            margin: 0;
          }

          &.h5p-transcript .h5p-transcript-text-container {
            margin-left: 0;
            margin-right: 0;
          }

          &.h5p-image-slider .h5p-image-slider-progress {
            padding: 0.5em 0;
          }
        }
      }
    }
  }
}
