.status-container {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  // Workaround for iOS < 14.5 which doesn't support gap for flexbox
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: calc(1.25 * var(--h5p-theme-spacing-s));
    }
  }

  &::before {
    color: var(--h5p-theme-main-cta-base);
    margin-right: var(--h5p-theme-spacing-xxs);
  }

  &.display-none {
    display: none;
  }

  &.animate-pulse {
    animation: pulse;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  .status-container-values {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;

    span.value, span.max-value {
      color: var(--h5p-theme-main-cta-base);
    }

    span.delimiter {
      text-align: center;
      width: var(--h5p-theme-spacing-s);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
