.status-container {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  // Workaround for iOS < 14.5 which doesn't support gap for flexbox
  @supports (-webkit-touch-callout: none) and (not (translate: none)) {
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  &::before {
    color: #1768C4;
    margin-right: 0.5rem;
  }

  &.display-none {
    display: none;
  }

  &.animate-pulse {
    animation: pulse;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }

  .status-container-values {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;

    span.value, span.max-value {
      color: #1768C4;
    }

    span.delimiter {
      text-align: center;
      width: 1rem;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
