.media-screen.end {
  .h5p-game-map-feedback-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    .h5p-question-feedback {
      margin: 0;

      .h5p-question-feedback-container {
        text-align: center;
      }
    }

    .h5p-question-scorebar {
      margin: 0 0 var(--h5p-theme-spacing-s) 0;
      padding: 0;

      &.display-none {
        display: none;
      }

      .h5p-joubelui-score-bar {
        width: 100%;
      }
    }
  }

  .media-screen-button-show-solutions {
    button::before {
      content: var(--icon-fontawesome-eye);
      font-family: "H5PFontAwesome4", sans-serif;
      padding-right: var(--h5p-theme-spacing-xxs);
    }
  }

  .media-screen-button-restart {
    button::before {
      content: var(--icon-fontawesome-arrow-rotate-right);
      font-family: "H5PFontAwesome4", sans-serif;
      padding-right: var(--h5p-theme-spacing-xxs);
    }
  }
}
