.media-screen {
  align-items: center;
  background-color: var(--h5p-theme-ui-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-wrap: anywhere;
  padding: var(--h5p-theme-spacing-s) 0 var(--h5p-theme-spacing-xl) 0;
  position: relative;
  top: 0;
  z-index: 3;

  &.display-none {
    display: none;
  }

  &> :not(:first-child) {
    margin-top: var(--h5p-theme-spacing-xxs);
  }

  p {
    margin: 0 0 var(--h5p-theme-spacing-xxs);
  }

  .media-screen-medium {
    align-items: center;
    display: flex;
    height: calc(15 * var(--h5p-theme-spacing-s));
    justify-content: center;
    margin: calc(4.375 * var(--h5p-theme-spacing-s)) 0;
    position: relative;
    width: 100%;

    &.display-none {
      display: none;
    }

    &.h5p-image > img,
    &.h5p-video > video,
    &.h5p-video.h5p-youtube > div:not(.media-screen-bar) {
      box-shadow: var(--h5p-theme-spacing-xxs) calc(0.25 * var(--h5p-theme-spacing-s)) var(--h5p-theme-spacing-xl) 0 rgb(0 0 0 / 20%);
      position: absolute;
      left: 50%;
      max-height: calc(15 * var(--h5p-theme-spacing-s));
      max-width: calc(26.666 * var(--h5p-theme-spacing-s));
      min-width: calc(20 * var(--h5p-theme-spacing-s));
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.h5p-image > img {
      object-fit: contain;
    }

    &.h5p-image > img,
    &.h5p-video > video {
      max-width: 85%;
    }
  }

  .media-screen-bar {
    background-color: var(--h5p-theme-alternative-light);
    background-size: cover;
    height: 70%;
    width: inherit;
  }

  .media-screen-introduction {
    color: var(--h5p-theme-text-primary);
    text-decoration: none solid var(--h5p-theme-text-primary);

    &.display-none {
      display: none;
    }
  }

  .media-screen-content {
    width: 80%;

    &.display-none {
      display: none;
    }
  }

  .media-screen-buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--h5p-theme-spacing-s);
    justify-content: center;
    width: 90%;
  }
}
