.slider-container {
  --box-shadow-params: 0 0 0 0.5rem;
  --slider-min-length: 4rem;
  --slider-min-thickness: 0.5rem;

  .slider {
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-primary-15);
    border-radius: 3px;
    margin: 0;
    opacity: 0.7;
    outline: none;
    -webkit-transition: .2s;
    touch-action: none;
    transition: opacity .2s;

    &:not(.vertical) {
      height: var(--slider-min-thickness);
      width: 100%;
    }

    &.vertical {
      direction: rtl;
      height: 100%;
      width: var(--slider-min-thickness);
      writing-mode: vertical-lr;
    }

    &[disabled] {
      &::-webkit-slider-thumb {
        background: var(--color-disabled);
      }
    }

    &:not([disabled]) {
      cursor: pointer;
    }

    &:hover:not([disabled]) {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background: var(--color-primary-dark);
      border: none;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;

      &:hover:not([disabled]) {
        box-shadow: var(--box-shadow-params) var(--color-primary-20);
      }

      &:active:not([disabled]) {
        box-shadow: var(--box-shadow-params) var(--color-primary-30);
      }

      &:focus:not([disabled]) {
        box-shadow: var(--box-shadow-params) var(--color-primary-30);
      }
    }

    &::-moz-range-thumb {
      appearance: none;
      background: var(--color-primary-dark);
      border: none;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;

      &:hover:not([disabled]) {
        box-shadow: var(--box-shadow-params) var(--color-primary-20);
      }

      &:active:not([disabled]) {
        box-shadow: var(--box-shadow-params) var(--color-primary-30);
      }

      &:focus:not([disabled]) {
        box-shadow: var(--box-shadow-params) var(--color-primary-30);
      }
    }

    &:focus:not([disabled]) {
      &::-webkit-slider-thumb {
        box-shadow: var(--box-shadow-params) var(--color-primary-20);
      }

      &::-moz-range-thumb {
        box-shadow: var(--box-shadow-params) var(--color-primary-20);
      }
    }
  }

  &:has(.slider.vertical) {
    min-height: var(--slider-min-length);
    height: 100%;
  }

  &:not(:has(.slider.vertical)) {
    min-width: var(--slider-min-length);
    width: 100%;
  }
}
