@import "@styles/main";

.h5p-game-map {
  background-color: $color-background;
  color: $color-text;

  .h5p-game-map-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &> .h5p-question-content {
    margin: 0;
  }

  &> .h5p-question-feedback {
    display: none;
  }

  &> .h5p-question-scorebar {
    display: none;
  }
}
