@import "@styles/main";

.h5p-game-map {
  background-color: $color-background;
  color: $color-text;
  width: 100%;

  .h5p-game-map-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
