.h5p-game-map-stage-label-container {
  border: 0;
  opacity: 1;
  position: absolute;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  transition: var(--label-transition);
  z-index: 2;

  .h5p-game-map-stage-label {
    transition: height 0.2s linear;
    border-radius: var(--h5p-theme-border-radius-small);
    background: rgba(0,0,0,0.7);
    color: #fff;
    line-height: 1.5;
    padding-block: var(--h5p-theme-spacing-xxs);
    padding-inline: var(--h5p-theme-spacing-s);
    overflow: hidden;
    font-size: var(--h5p-theme-font-size-s);
    min-width: 6ch;
    max-width: 11ch;

    .h5p-game-map-stage-label-inner {
      white-space: initial;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &.touch-device {
    transition-delay: 0s;
  }

  &.bottom {
    bottom: calc(-2.75 * var(--h5p-theme-spacing-s));
    left: 50%;
    transform: translateX(-50%);

    .h5p-game-map-stage-label .h5p-game-map-stage-label-inner {
      text-align: center;
    }
  }

  &.top {
    bottom: calc(120% + var(--label-extra-top-offset, 0%));
    left: 50%;
    transform: translateX(-50%);

    .h5p-game-map-stage-label .h5p-game-map-stage-label-inner {
      text-align: center;
    }
  }

  &.left {
    right: 125%;
    transform: translateY(-50%);
    top: 50%;
  }

  &.right {
    left: 125%;
    transform: translateY(-50%);
    top: 50%;
  }

  &.top-left {
    bottom: 75%;
    right: 125%;
  }

  &.top-right {
    bottom: 75%;
    left: 125%;
  }

  &.bottom-right {
    bottom: calc(-1.75 * var(--h5p-theme-spacing-s));
    left: 125%;
  }

  &.bottom-left {
    bottom: calc(-1.75 * var(--h5p-theme-spacing-s));
    right: 125%;
  }

  &.visibility-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.display-none {
    display: none;
  }

  &.multiline {
    &.bottom {
      bottom: calc(-4.125 * var(--h5p-theme-spacing-s));
    }

    &.bottom-right {
      bottom: calc(-3.125 * var(--h5p-theme-spacing-s));
    }

    &.bottom-left {
      bottom: calc(-3.125 * var(--h5p-theme-spacing-s));
    }

    .h5p-game-map-stage-label {
      .h5p-game-map-stage-label-inner {
        white-space: initial;
      }
    }
  }
}
