.h5p-game-map-stage-content.h5p-game-map-stage-locked.override-symbol,
.h5p-game-map-stage-content.h5p-game-map-stage-open,
.h5p-game-map-stage-content.h5p-game-map-stage-cleared {
  &::before {
    font-family: "H5PGameMap", "H5PFontAwesome4", sans-serif;
    font-size: max(0.75rem, var(--stage-font-size));
    left: 50%;
    line-height: max(1rem, var(--stage-line-height));
    top: calc(50%);
    transform: translate(-50%, -50%);
  }

  &.finish::before {
    content: var(--icon-fontawesome-flag-checkered);
    left: 50%;
    top: calc(50%);
  }

  &.extra-life::before {
    content: var(--icon-fontawesome-heart);
    left: 50%;
    top: calc(50% + 0.125em);
  }

  &.extra-time::before {
    content: var(--icon-fontawesome-clock);
    left: 50%;
    top: calc(50% + 0.05em);
  }

  &.link::before {
    content: var(--icon-fontawesome-link);
    left: 50%;
    top: calc(50% + 0.05em);
  }
}
