.h5p-game-map-stage {
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: max(1rem, var(--stage-height));
  left: var(--stage-left);
  margin: 0;
  padding: 0;
  position: absolute;
  top: var(--stage-top);
  width: max(1rem, var(--stage-width));

  &.display-none {
    display: none;
  }

  &.animate {
    &.animate-shake {
      animation: shake;
      animation-duration: 0.25s;
    }

    &.animate-bounce {
      animation: bounce;
      animation-duration: 1s;
      transform-origin: center bottom
    }

    &.animate-pulse {
      animation: pulse;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
    }
  }

  .h5p-game-map-stage-content {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    transition: transform .1s ease-in-out;
    z-index: 1;

    border: 2px solid var(--stage-color-border, rgba(0,0,0,0.4));
    border-radius: 50%;

    &.dark-text {
      color: var(--stage-color-contrast-dark, #000);
    }

    &.light-text {
      color: var(--stage-color-contrast-light, #fff);
    }

    &:hover {
      transform: scale(1.25);
    }

    &.h5p-game-map-stage-locked,
    &.h5p-game-map-stage-unlocking,
    &.h5p-game-map-stage-sealed {
      background-color: var(--stage-color-locked, rgba(153, 0, 0, 0.7));

      &::before {
        content: "\f023";
        font-family: "H5PFontAwesome4", sans-serif;
        font-size: max(0.75rem, var(--stage-font-size));
        line-height: max(1rem, var(--stage-line-height));
      }
    }

    &.h5p-game-map-stage-open {
      background-color: var(--stage-color,  rgba(250, 223, 10, 0.7));
    }

    &.h5p-game-map-stage-cleared {
      background-color: var(--stage-color-cleared, rgba(0, 130, 0, 0.7));

      &::before {
        content: "\f00c";
        font-family: "H5PFontAwesome4", sans-serif;
        font-size: max(0.75rem, var(--stage-font-size));
        line-height: max(1rem, var(--stage-line-height));
      }
    }
  }

  // Keyframes inspired by https://github.com/animate-css/animate.css
  @keyframes shake {
    0% {
      transform: translate3d(0, 0, 0);
    }

    15%,
    45%,
    75% {
      transform: translate3d(-0.5rem, 0, 0);
    }

    30%,
    60%,
    90% {
      transform: translate3d(0.5rem, 0, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bounce {
    0%,
    20%,
    53%,
    100% {
      animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
      transform:translate3d(0, 0, 0)
    }

    40%,
    43% {
      animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform:translate3d(0, -1rem, 0) scaleY(1.1)
    }

    70% {
      animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform:translate3d(0, -0.5rem, 0) scaleY(1.05)
    }

    80%{
      transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
      transform:translate3d(0, 0, 0) scaleY(0.95)
    }

    90%{
      transform:translate3d(0, -0.125rem, 0) scaleY(1.02)
    }
  }

  @keyframes pulse {
    0% {
      transform: scale3d(1, 1, 1);
    }

    50% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}
