.h5p-game-map-stage {
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;

  &.display-none {
    display: none;
  }

  .h5p-game-map-stage-content {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    transition: transform .1s ease-in-out;
    width: 100%;
    z-index: 1;

    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 50%;

    &:hover {
      transform: scale(1.25);
    }

    &.h5p-game-map-stage-locked {
      background-color: var(--stage-color-locked, rgba(153, 0, 0, 0.7));
    }

    &.h5p-game-map-stage-unlocking {
      background-color: var(--stage-color-locked, rgba(153, 0, 0, 0.7));
    }

    &.h5p-game-map-stage-open {
      background-color: var(--stage-color,  rgba(250, 223, 10, 0.7));
    }

    &.h5p-game-map-stage-cleared {
      background-color: var(--stage-color-cleared, rgba(0, 153, 0, 0.7));
    }
  }
}
