@import "@styles/main";

.score-container {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  &::before {
    color: #1768C4;
    content: "\f005";
    font-family: "H5PFontAwesome4", sans-serif;
    margin-right: 0.5rem;
  }

  &.display-none {
    display: none;
  }

  .score-container-scores {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;

    span.score, span.max-score {
      color: #1768C4;
    }

    span.delimiter {
      text-align: center;
      width: 1rem;
    }
  }
}
