@import '@styles/main';

$titlebarButtonSize: 3em;
$titlebarButtonBackgroundSize: 1.25em;

.toolbar-button {
  align-items: center;
  background-color: $color-primary-5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $titlebarButtonBackgroundSize $titlebarButtonBackgroundSize;
  border: 2px solid $color-text-light; /* Same px value as used by Joubel in Interactive Book */
  border-radius: 3px; /* Same px value as used by Joubel in Interactive Book */
  display: flex;
  flex-shrink: 0;
  font-size: 1em;
  height: $titlebarButtonSize;
  padding: 0;
  width: $titlebarButtonSize;

  &:not(.toolbar-button-disabled) {
    &:hover {
      background-color: $color-primary-10;
      cursor: pointer;
    }

    &:active {
      background-color: $color-primary-25;
    }

    &.toolbar-button-active {
      background-color: $color-primary;
      background-position: center;
      background-repeat: no-repeat;
      background-size: $titlebarButtonBackgroundSize $titlebarButtonBackgroundSize;
      opacity: 20;

      &:hover {
        background-color: $color-primary-90;
        cursor: pointer;
      }

      &:active {
        background-color: $color-primary-95;
      }
    }
  }

  &.toolbar-button-disabled {
    background-color: rgba(128,128,128,.95);

    &::before {
      color: #fff;
    }
  }
}

.toolbar-button-display-none {
  display: none;
}

.toolbar-button-cloak {
  visibility: hidden;
  opacity: 0;
}
