.toolbar-button {
  --titlebarButtonSize: 3em;
  --titlebarButtonBackgroundSize: 1.25em;

  align-items: center;
  background-color: var(--color-primary-5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--titlebarButtonBackgroundSize) var(--titlebarButtonBackgroundSize);
  border: 2px solid var(--color-text-light); /* Same px value as used by Joubel in Interactive Book */
  border-radius: 3px; /* Same px value as used by Joubel in Interactive Book */
  display: flex;
  flex-shrink: 0;
  font-size: 1em;
  height: var(--titlebarButtonSize);
  padding: 0;
  width: var(--titlebarButtonSize);

  &:not(.toolbar-button-disabled) {
    &:hover {
      background-color: var(--color-primary-10);
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-primary-25);
    }

    &.toolbar-button-active {
      background-color: var(--color-primary);
      background-position: center;
      background-repeat: no-repeat;
      background-size: var(--titlebarButtonBackgroundSize) var(--titlebarButtonBackgroundSize);
      opacity: 20;

      &:hover {
        background-color: var(--color-primary-90);
        cursor: pointer;
      }

      &:active {
        background-color: var(--color-primary-95);
      }
    }
  }

  &.toolbar-button-disabled {
    background-color: var(--color-disabled);

    &::before {
      color: var(--color-text-light);
    }
  }
}

.toolbar-button-display-none {
  display: none;
}

.toolbar-button-cloak {
  visibility: hidden;
  opacity: 0;
}
