@import '@styles/main';

.h5p-game-map-toolbar-tool-bar {
  align-items: center;
  box-shadow: 10px 10px 30px $color-shadow-light;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 1.25rem;
  gap: 1rem;
  justify-content: flex-end;
  margin-bottom : .5em;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;

  .toolbar-headline {
    color: $color-text;
    flex-grow: 1;
    font-weight: bold;
    justify-self: flex-start;
    margin-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .toolbar-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;

    .toolbar-button {
      color: #1768C4;
      position: relative;

      &.toolbar-button-finish {
        &::before {
          content: "\f11e";
          font-family: "H5PFontAwesome4", sans-serif;
          font-size: 1.15rem;
          font-weight: bold;
          height: 1.15rem;
          left: 50%;
          margin-left: -0.575rem;
          margin-top: -0.575rem;
          position: absolute;
          top: 50%;
          width: 1.15rem;
        }
      }
    }
  }

  &.display-none {
    display: none;
  }
}
