.h5p-game-map-toolbar-tool-bar {
  align-items: center;
  background-color: var(--color-background);
  box-shadow: 10px 10px 30px var(--color-shadow-light);
  box-sizing: border-box;
  column-gap: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom : .5em;
  overflow: hidden;
  padding: 0.5em;
  row-gap: 0.25rem;

  .toolbar-headline {
    color: var(--color-text);
    flex-grow: 1;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .toolbar-non-headline {
    align-items: center;
    column-gap: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.25rem;

    .status-containers {
      .status-container-timer {
        &::before {
          content: "\f017";
          font-family: "H5PFontAwesome4", sans-serif;
        }
      }

      .status-container-lives {
        &::before {
          content: "\f004";
          font-family: "H5PFontAwesome4", sans-serif;
        }
      }

      .status-container-stages {
        &::before {
          content: "\f10c";
          font-family: "H5PFontAwesome4", sans-serif;
        }
      }

      .status-container-score {
        &::before {
          content: "\f005";
          font-family: "H5PFontAwesome4", sans-serif;
        }
      }
    }
  }

  .toolbar-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;

    .toolbar-button {
      color: #1768C4;
      position: relative;

      &.toolbar-button-audio {
        &::before {
          content: "\f026";
          font-family: "H5PFontAwesome4", sans-serif;
          font-size: 1.15em;
          height: 1.15em;
          left: 50%;
          margin-left: -0.575em;
          margin-top: -0.575em;
          position: absolute;
          top: 50%;
          width: 1.15em;
        }

        &.toolbar-button-active {
          &:not(.toolbar-button-disabled) {
            background-color: var(--color-primary-5);
          }

          &::before {
            content: "\f028";
          }
        }
      }

      &.toolbar-button-finish {
        &::before {
          content: "\f11e";
          font-family: "H5PFontAwesome4", sans-serif;
          font-size: 1.15em;
          height: 1.15em;
          left: 50%;
          margin-left: -0.575em;
          margin-top: -0.575em;
          position: absolute;
          top: 50%;
          width: 1.15em;
        }
      }

      &.animate-pulse:not(.toolbar-button-disabled) {
        animation: pulse;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
      }

      &.toolbar-button-fullscreen {
        &.toolbar-button-exit-fullscreen {
          &::before {
            content: "\f066";
          }
        }

        &.toolbar-button-enter-fullscreen {
          &::before {
            content: "\f065";
          }
        }

        &::before {
          font-family: "H5PFontAwesome4", sans-serif;
          font-size: 1.15em;
          height: 1.15em;
          left: 50%;
          margin-left: -0.575em;
          margin-top: -0.575em;
          position: absolute;
          top: 50%;
          width: 1.15em;
        }
      }
    }
  }

  &.display-none {
    display: none;
  }

  &.solution-mode {
    background-color: var(--color-text);

    .toolbar-headline {
      color: var(--color-background);

      &::after {
        content: "\f06e";
        font-family: "H5PFontAwesome4", sans-serif;
        font-weight: normal;
        margin-left: 0.5em;
      }
    }

    .status-containers {
      .status-container {
        &::before {
          color: var(--color-background);
        }

        .status-container-values {
          span.value, span.max-value {
            color: var(--color-background);
          }

          span.delimiter {
            color: var(--color-background);
            text-align: center;
            width: 1em;
          }
        }
      }
    }

    .toolbar-buttons .toolbar-button {
      background-color: rgba(166, 166, 166, .1);
      border-color: var(--color-text);
      color: var(--color-background);

      &:not(.toolbar-button-disabled) {
        &:hover {
          background-color: rgba(166, 166, 166, .2);
        }

        &:active {
          background-color: rgba(166, 166, 166, .3);
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
