@import '@styles/main';

.h5p-game-map-toolbar-tool-bar {
  align-items: center;
  background-color: $color-background;
  box-shadow: 10px 10px 30px $color-shadow-light;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 1.25rem;
  gap: 1.25rem;
  justify-content: flex-end;
  margin-bottom : .5em;
  overflow: hidden;
  padding: 0.5rem;

  &.solution-mode {
    background-color: $color-text;

    .toolbar-headline {
      color: $color-background;

      &::after {
        content: "\f06e";
        font-family: "H5PFontAwesome4", sans-serif;
        font-weight: normal;
        margin-left: 0.5rem;
      }
    }

    .status-containers {
      .status-container {
        &::before {
          color: $color-background;
        }

        .status-container-values {
          span.value, span.max-value {
            color: $color-background;
          }

          span.delimiter {
            color: $color-background;
            text-align: center;
            width: 1rem;
          }
        }
      }
    }

    .toolbar-buttons .toolbar-button {
      background-color: rgba(166, 166, 166, .1);
      border-color: $color-text;
      color: $color-background;

      &:not(.toolbar-button-disabled) {
        &:hover {
          background-color: rgba(166, 166, 166, .2);
        }

        &:active {
          background-color: rgba(166, 166, 166, .3);
        }
      }
    }
  }

  .toolbar-headline {
    color: $color-text;
    flex-grow: 1;
    font-weight: bold;
    justify-self: flex-start;
    margin-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .status-containers {
    .status-container-lives {
      &::before {
        content: "\f004";
        font-family: "H5PFontAwesome4", sans-serif;
      }
    }

    .status-container-stages {
      &::before {
        content: "\f10c";
        font-family: "H5PFontAwesome4", sans-serif;
      }
    }

    .status-container-score {
      &::before {
        content: "\f005";
        font-family: "H5PFontAwesome4", sans-serif;
      }
    }
  }

  .toolbar-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;

    .toolbar-button {
      color: #1768C4;
      position: relative;

      &.toolbar-button-audio {
        &::before {
          content: "\f026";
          font-family: "H5PFontAwesome4", sans-serif;
          font-size: 1.15rem;
          height: 1.15rem;
          left: 50%;
          margin-left: -0.575rem;
          margin-top: -0.575rem;
          position: absolute;
          top: 50%;
          width: 1.15rem;
        }

        &.toolbar-button-active {
          background-color: $color-primary-5;

          &::before {
            content: "\f028";
          }
        }
      }

      &.toolbar-button-finish {
        &::before {
          content: "\f11e";
          font-family: "H5PFontAwesome4", sans-serif;
          font-size: 1.15rem;
          height: 1.15rem;
          left: 50%;
          margin-left: -0.575rem;
          margin-top: -0.575rem;
          position: absolute;
          top: 50%;
          width: 1.15rem;
        }
      }
    }
  }

  &.display-none {
    display: none;
  }
}
