@use "@styles/main";

.h5p-game-map-map {
  aspect-ratio: var(--map-aspect-ratio);
  background-color: var(--map-background-color, main.$color-background);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  position: relative;
  user-select: none;
  z-index: 0;

  .h5p-game-map-background-image {
    display: block;
    grid-area: 1/1/1/1;
    height: auto;
    pointer-events: none;
    width: 100%;
  }

  .h5p-game-map-path-wrapper {
    grid-area: 1/1/1/1;
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .h5p-game-map-stage-wrapper {
    grid-area: 1/1/1/1;
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
