.h5p-game-map-overlay-dialog-instance-container {
  &.blocked {
    pointer-events: none;
  }

  .h5p-game-map-exercise-bundle{
    display: grid;
    gap: var(--h5p-theme-spacing-xxs);
  }

  .h5p-question-buttons {
    .h5p-question-game-map-continue {
      float: right;
      order: 1;

      &::before {
        content: var(--icon-h5ptheme-caret-right);
        font-family: "h5p-theme", sans-serif;
      }
    }

    button:not(.h5p-question-game-map-continue) {
      order: 0;
    }
  }


  .h5p-game-map-exercise-instance {
    &.h5p-video {
      overflow: inherit;
      height: 100%;
    }

    &.h5p-advanced-text {
      p:first-child {
        margin-top: var(--h5p-theme-spacing-s);
      }

      p:last-child {
        margin-bottom: var(--h5p-theme-spacing-s);
      }
    }

    &.h5p-interactive-video {
      overflow: inherit;

      .h5p-control.h5p-fullscreen {
        display: none;
      }
    }

    &.h5p-course-presentation {
      .h5p-footer-button.h5p-footer-toggle-full-screen {
        display: none;
      }
    }

    &.h5p-dragquestion {
      .h5p-my-fullscreen-button-enter {
        display: none;
      }
    }

    &.h5p-memory-game {
      position: relative;

      .h5p-memory-reset {
        width: fit-content;
      }
    }

    &.h5p-image-hotspot-question {
      .h5p-question-buttons:not(.has-scorebar) {
        .h5p-question-game-map-continue {
          margin-top: var(--h5p-theme-spacing-s);
        }
      }
    }

    &.h5p-image-hotspot-question > .h5p-question-content {
      margin: 0;
    }

    &.h5p-transcript .h5p-transcript-text-container {
      margin-left: 0;
      margin-right: 0;
    }

    &.h5p-image-slider .h5p-image-slider-progress {
      padding: var(--h5p-theme-spacing-xxs) 0;
    }
  }
}

.h5p-game-map-exercise-instance-continue-button {
  margin-inline-start: auto;
  width: fit-content;

  &.display-none {
    display: none;
  }
}
