.h5p-game-map-overlay-dialog {
  --overlay-dialog-screen-offset: calc(4 * var(--h5p-theme-spacing-s));
  --max-width: 1080px;
  --opacity: 0.8;

  align-items: center;
  background-color: hsl(0 0% 17% / var(--opacity));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 1 / 1;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  transition: background-color 0.25s;
  width: 100%;
  z-index: 1;

  &.display-none {
    display: none;
  }

  &.transparent {
    --opacity: 0;
    transition: background-color 0.25s 0.5s;
  }

  .h5p-game-map-overlay-dialog-content-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: var(--max-width);
    width: 100%;

    &.offscreen {
      transform: translate3d(0, calc(-200 * var(--h5p-theme-spacing-s)), 0) scaleY(3);
    }

    &.transparent {
      opacity: 0;
    }

    &.animate {
      &.animate-bounce-in {
        animation: bounce-in;
        animation-delay: 10ms;
        animation-duration: 1s;
        transform-origin: center bottom
      }

      &.animate-bounce-out {
        animation: bounce-out;
        animation-duration: 0.75s;
        transform-origin: center bottom
      }
    }

    .h5p-game-map-overlay-dialog-button-close {
      grid-area: 1 / 1 / 1 / 1;
      background: var(--h5p-theme-ui-base);
      border: none;
      border-radius: 50%;
      color: #222;
      cursor: pointer;
      height: calc(2.25 * var(--h5p-theme-spacing-s));
      justify-self: end;
      left: calc(-0.325 * var(--overlay-dialog-screen-offset));
      line-height: 1;
      padding: 0;
      position: relative;
      top: calc(0.325 * var(--overlay-dialog-screen-offset));
      transition: transform .1s ease-in-out;
      width: calc(2.25 * var(--h5p-theme-spacing-s));

      &:hover {
        transform: scale(1.25);
      }

      &::after {
        border: 1px solid var(--h5p-theme-text-primary);
        border-radius: 50%;
        color: var(--h5p-theme-text-primary);
        content: var(--icon-fontawesome-xmark);
        font-family: "H5PFontAwesome4", sans-serif;
        height: calc(1.5 * var(--h5p-theme-spacing-s));
        left: 50%;
        line-height: calc(1.5 * var(--h5p-theme-spacing-s));
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(1.5 * var(--h5p-theme-spacing-s));
      }

      &:focus-visible {
        outline: none;

        &::after {
          outline: 2px ridge var(--h5p-theme-contrast-cta-white);
          outline-offset: 2px;
        }
      }
    }

    .h5p-game-map-overlay-dialog-content {
      background-color: var(--h5p-theme-ui-base);
      border-radius: var(--h5p-theme-border-radius-large);
      box-sizing: border-box;
      display: grid;
      gap: var(--h5p-theme-spacing-xxs);
      grid-area: 1 / 1 / 1 / 1;
      grid-template-columns: minmax(0, 1fr);
      margin-inline: calc(0.5 * var(--overlay-dialog-screen-offset));
      margin-block: calc(0.5 * var(--overlay-dialog-screen-offset));
      max-width: calc(100% - var(--overlay-dialog-screen-offset, 4rem));
      min-width: 0;
      padding: var(--h5p-theme-spacing-s);

      .h5p-game-map-overlay-dialog-headline {
        align-items: start;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: var(--h5p-theme-spacing-xxs);
        padding: 0 calc(0.25 * var(--h5p-theme-spacing-s)) 0 0;

        .h5p-game-map-overlay-dialog-headline-text {
          display: -webkit-box;
          font-size: var(--h5p-theme-font-size-xl);
          font-weight: bold;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          overflow: hidden;
          overflow-wrap: anywhere;
          -webkit-box-orient: vertical;
        }

        .h5p-game-map-overlay-dialog-headline-info-icon {
          anchor-name: --gamemap-overlay-dialog;
          aspect-ratio: 1;
          background-color: var(--h5p-theme-main-cta-base);
          border: 0;
          border-radius: 50%;
          height: var(--h5p-theme-font-size-xl);
          padding: 0;
          position: relative;

          &.display-none {
            display: none;
          }

          &::before {
            color: var(--h5p-theme-ui-base);
            content: var(--icon-fontawesome-info);
            font-family: "H5PFontAwesome4", sans-serif;
            font-size: var(--h5p-theme-font-size-m);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover {
            background-color: var(--h5p-theme-main-cta-light);
            cursor: pointer;
          }

          &:focus-visible {
            outline: 2px ridge var(--h5p-theme-contrast-cta-white);
            outline-offset: 2px;
          }
        }

        .h5p-game-map-overlay-dialog-headline-timer {
          margin-left: auto;
        }
      }

      .h5p-game-map-overlay-dialog-headline-info-content {
        border: 2px solid var(--h5p-theme-main-cta-base);
        border-radius: 4px;
        display: grid;
        gap: var(--h5p-theme-spacing-xxs);
        padding: var(--h5p-theme-spacing-xxs);

        .h5p-game-map-overlay-dialog-header-info-wrapper {
          display: grid;
          gap: var(--h5p-theme-spacing-xxs);

          .h5p-game-map-overlay-dialog-headline-info-content-intro {
            font-weight: bold;
            margin: 0;
          }

          .h5p-game-map-overlay-dialog-headline-info-content-list {
            margin: 0;

            &.one-item {
              list-style: none;
              padding: 0;
            }

            .h5p-game-map-overlay-dialog-headline-info-content-listitem-title {
              font-style: italic;
            }
          }
        }

        &.display-none {
          display: none;
        }
      }

      .h5p-game-map-overlay-dialog-instance-container {
        height: fit-content;
        width: 100%;

        .h5p-game-map-overlay-dialog-instance-wrapper {
          .h5p-game-map-overlay-dialog-instance {
            box-sizing: border-box;
            width: 100%;
          }
        }
      }
    }
  }

  @keyframes bounce-in {
    0% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      opacity: 0;
      transform: translate3d(0, -200rem, 0) scaleY(3);
    }

    60% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      opacity: 1;
      transform: translate3d(0, 1.5rem, 0) scaleY(0.9);
    }

    75% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      opacity: 1;
      transform: translate3d(0, -0.75rem, 0) scaleY(0.95);
    }

    90% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      opacity: 1;
      transform: translate3d(0, 0.25rem, 0) scaleY(0.985);
    }

    100% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bounce-out {
    0% {
      animation-timing-function: cubic-bezier(0.355, 0.61, 0.215, 1);
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    10% {
      animation-timing-function: cubic-bezier(0.355, 0.61, 0.215, 1);
      opacity: 1;
      transform: translate3d(0, 0.25rem, 0) scaleY(0.985);
    }

    25% {
      animation-timing-function: cubic-bezier(0.355, 0.61, 0.215, 1);
      opacity: 1;
      transform: translate3d(0, -0.75rem, 0) scaleY(0.95);
    }

    40% {
      animation-timing-function: cubic-bezier(0.355, 0.61, 0.215, 1);
      opacity: 1;
      transform: translate3d(0, 1.5rem, 0) scaleY(0.9);
    }

    100% {
      animation-timing-function: cubic-bezier(0.355, 0.61, 0.215, 1);
      opacity: 0;
      transform: translate3d(0, -200rem, 0) scaleY(3);
    }
  }
}

@container map-container (max-width: 560px) {
  .h5p-game-map-overlay-dialog {
    --overlay-dialog-screen-offset: calc(3 * var(--h5p-theme-spacing-s));
  }
}

@container map-container (max-width: 480px) {
  .h5p-game-map-overlay-dialog {
    --overlay-dialog-screen-offset: calc(2 * var(--h5p-theme-spacing-s));
  }
}
