.h5p-game-map-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;

  .h5p-game-map-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 1 / 1;
    margin: 1rem;

    &.display-none {
      display: none;
    }
  }
}
