.h5p-game-map-container {
  container-name: map-container;
  container-type: inline-size;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  .h5p-game-map-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 1 / 1;
    margin: 1rem;
    min-width: 0;

    &.display-none {
      display: none;
    }
  }
}
